<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
    <%-include('header')%>
    <br>
  <section class="container mx-auto" id="productCart">
    <h1 class="text-4xl font-bold">Your Cart</h1>
    <div class="cart-container mt-4 flex gap-5">
      <div class="w-3/4">
        <table class="table-auto w-full border">
          <thead>
            <tr class="bg-slate-200">
              <th>Sr</th>
              <th>Product</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% var subtotal=0%>
            <%getCart.forEach((productInfo,index)=>{%>
              <tr class="border-b">
                <td class="w-12">
                  <%=index+1%>
                </td>
                <td class="w-1/2">
                  <div class="cart-product flex text-left py-5 gap-8">
                    <div class="cart-image border rounded-lg overflow-hidden">
                      <img src="/productimg/<%=productInfo.productId.productImages[0]%>" alt="" class="w-28">
                    </div>
                    <div class="cart-product-detail flex flex-col justify-center">
                      <a href="" class="font-semibold text-sm">
                        <%=productInfo.productId.productName%>
                      </a>
                      <div class="rating-box text-sm">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i>(4.5)</i>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="cart-price">
                    <h2 class="font-bold text-xl">
                      ₹<%= (productInfo.productId.productPrice - (productInfo.productId.productPrice * productInfo.productId.productDiscount / 100)).toFixed(2) %>
                    </h2>
                  </div>
                </td>
                <td class="">
                  <div class="counter-and-cart">
                    <div class="counter-box flex border w-20 mx-auto rounded-md px-1">
                        <div class="add-count flex justify-center items-center flex-1">
                            <span id="currentQty-<%=productInfo._id%>" class="text-xl font-medium">
                              <%=productInfo.quantity%>
                            </span>
                        </div>
                        <div class="up-down flex flex-col justify-between items-center">
                            <div class="up-arrow p-0 m-0 text-xl">
                              <button class="addQty" data-user-id="<%=userId%>" data-cart-id="<%=productInfo._id%>" data-product-id="<%=productInfo.productId._id%>"><i class='bx bxs-up-arrow-square' ></i></button>
                            </div>
                            <div class="down-arrow p-0 m-0 text-xl">
                              <button class="lessQty" data-user-id="<%=userId%>" data-cart-id="<%=productInfo._id%>" data-product-id="<%=productInfo.productId._id%>"><i class='bx bxs-down-arrow-square' ></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
                <td>
                  <div class="cart-subtotal">
                    <h2 class="font-bold text-xl">
                      ₹<%= (parseFloat(productInfo.productId.productPrice - (productInfo.productId.productPrice * productInfo.productId.productDiscount / 100)) * parseFloat(productInfo.quantity)).toFixed(2) %>
                      <% subtotal= parseFloat(subtotal) + parseFloat(productInfo.productId.productPrice-(productInfo.productId.productPrice)*productInfo.productId.productDiscount/100) * parseFloat(productInfo.quantity)%>
                    </h2>
                  </div>
                </td>
                <td class="w-24">
                  <div class="cart-trash">
                    <button id="removeCart" data-user-id="<%=userId%>" data-cart-id="<%=productInfo._id%>"><i class='bx bxs-trash' ></i></button>
                  </div>
                </td>
              </tr>
            <%})%>  

            
          </tbody>
        </table>
      </div>
      <div class="w-1/4">
        <ul class="">
          <li>
            <h3 class="text-slate-500 font-semibold">Subtotal</h3>
            <h2 class="font-bold text-2xl">₹<%= subtotal.toFixed(2)%></h2>
          </li>
          <li>
            <h3 class="text-slate-500 font-semibold">Shipping</h3>
            <h2 class="font-bold text-sm">Free</h2>
          </li>
          <li>
            <h3 class="text-slate-500 font-semibold">Gst (18%)</h3>
            <h2 class="font-bold text-sm">₹<%= parseFloat(subtotal* 18/100).toFixed(2)%></h2>
          </li>
          <li>
            <h3 class="text-slate-500 font-semibold">Total</h3>
            <h2 class="font-bold text-2xl">₹<span id="totalAmount"><%=parseFloat(subtotal + subtotal* 18/100).toFixed(2)%></span></h2>
          </li>
          <li>
            <button id="checkOutRz" class="font-semibold rounded"><a href="">Proceed To Checkout</a></button>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      $(".addQty").click(function(){
        let productId = $(this).data("product-id");
        let cartId = $(this).data("cart-id");
        let userId = $(this).data("user-id");
        let currentValue=parseInt($("#currentQty-"+cartId).text())
        $.ajax({
          url:"/productinfo?id=" + productId,
          type:"GET",
          dataType:"JSON",
          success: function(data) {
            let maxValue=data.productStock
            if(maxValue>currentValue){
              currentValue=currentValue+1
              $("#currentQty-"+cartId).text(currentValue)
              $.ajax({
                url: "/edit-cart",
                type: "POST",
                data: {
                  userId:userId,
                  cartId:cartId,
                  productId:productId,
                  chngQty: currentValue
              },
                  success: function(data) {
                  console.log(data);
                  window.location.reload();
              },
                  error: function(err) {
                  console.log(err);
              }
              });
            }else{
                alert("Maximum Quantity Reached")
            }
          },
          error: function(err) {
          console.log(err);
          }
        })
      })
      $(".lessQty").click(function(){
        let productId = $(this).data("product-id");
        let cartId = $(this).data("cart-id");
        let userId = $(this).data("user-id");
        let currentValue=parseInt($("#currentQty-"+cartId).text())
        let minValue=1
        if(minValue<currentValue){
          currentValue=currentValue-1
          $("#currentQty-"+cartId).text(currentValue)
          $.ajax({
            url: "/edit-cart",
            type: "POST",
            data: {
              userId:userId,
              cartId:cartId,
              productId:productId,
              chngQty: currentValue
          },
              success: function(data) {
              console.log(data);
              window.location.reload();
          },
              error: function(err) {
              console.log(err);
          }
          });
        }else{
            alert("Minimum Quantity Reached")
        }
      })
      $("#removeCart").click(function(){
        let cartId = $(this).data("cart-id");
        $.ajax({
          url:'/removecart',
          method: "POST",
          data:{
            cartId:cartId,
          },
          success: function(data) {
            console.log(data);
            window.location.reload();
          },
            error: function(err) {
            console.log(err);
          }
        })
      })
      $("#checkOutRz").click(function(e){
        e.preventDefault();
        const cartItems = "<%= getCart.length > 0 ? getCart[0]._id : '' %>"; // Assuming getCart holds your cart data
        if (!cartItems || cartItems.length === 0) {
          alert("Your cart is empty. Please add items before checkout.");
          return;
        }
        $.ajax({
          url:'/checkout',
          type: "POST",
          data:{
            amount:$("#totalAmount").text(),
            cartId:"<%= getCart.length > 0 ? getCart[0]._id : '' %>"
          },
          success:function(res){
            if(res.success){
              var options = {
                "key": ""+res.key_id+"",
                "amount": ""+res.amount+"",
                "currency": "INR",
                "order_id": ""+res.order_id+"",
                "handler": function (response){
                  // alert("Payment Succeeded");
                  window.open("/myorder","_self")
                },
                "theme": {
                  "color": "#2300a3"
                }
              };
              var razorpayObject = new Razorpay(options);
              razorpayObject.on('payment.failed', function (response){
                  alert("Payment Failed");
              });
              razorpayObject.open();
            }
            else{
              alert(res.msg);
            }
          }
        })
      })
    });
  </script>
</body>

</html>






<!-- 
<tr class="border-b">
  <td class="w-12">
    1
  </td>
  <td class="w-1/2">
    <div class="cart-product flex text-left py-5 gap-8">
      <div class="cart-image border rounded-lg overflow-hidden">
        <img src="img/product-1-1.jpg" alt="" class="w-28">
      </div>
      <div class="cart-product-detail flex flex-col justify-center">
        <a href="" class="font-semibold text-sm">Field roast chaos cheese spicy oil</a>
        <div class="rating-box text-sm">
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i>(4.5)</i>
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="cart-price">
      <h2 class="font-bold text-xl">$3.99</h2>
    </div>
  </td>
  <td class="">
    <div class="counter-and-cart">
      <div class="counter-box flex border w-20 mx-auto rounded-md px-1">
          <div class="add-count flex justify-center items-center flex-1">
              <span class="text-xl font-medium">11</span>
          </div>
          <div class="up-down flex flex-col justify-between items-center">
              <div class="up-arrow p-0 m-0 text-xl">
                  <button><i class='bx bxs-up-arrow-square' ></i></button>
              </div>
              <div class="down-arrow p-0 m-0 text-xl">
                  <button><i class='bx bxs-down-arrow-square' ></i></button>
              </div>
          </div>
      </div>
  </div>
  </td>
  <td>
    <div class="cart-subtotal">
      <h2 class="font-bold text-xl">$3.99</h2>
    </div>
  </td>
  <td class="w-24">
    <div class="cart-trash">
      <button><i class='bx bxs-trash' ></i></button>
    </div>
  </td>
</tr> -->
