    <section class="container mx-auto" id="dailyBest">
        <div class="title-bar flex justify-between items-center">
            <h1 class="text-4xl font-medium">
                Daily Best Sells
            </h1>
            <ul class="flex gap-5 font-medium text-sm">
                <li>
                    <a href="" class="active">Featured</a>
                </li>
                <li>
                    <a href="">Popular</a>
                </li>
                <li>
                    <a href="">New added</a>
                </li>
            </ul>
        </div>


        <div class="product-slider mt-8 flex gap-2">
            <div class="w-1/4">
                <div class="banner relative rounded-lg overflow-hidden">
                    <div class="banner-image">
                        <img src="img/banner-4.png" alt="">
                    </div>
                    <div class="banner-misc absolute top-10 left-10">
                        <h1 class="text-2xl font-semibold">Everyday Fresh &<br>
                        Clean with Our<br>Products</h1>
                    </div>
                    <div class="banner-button absolute bottom-10 left-10">
                        <button class="px-3 py-1 rounded"><a href="123">Shop Now <span><i class='bx bx-right-arrow-alt align-middle text-2xl'></i></span></a></button>
                    </div>
                </div>
            </div>
            <div class="w-3/4">
                <div class="product-grid px-1">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <%getProducts.forEach(product=>{%>
                            <div class="swiper-slide">
                                <div class="product p-2 border flex gap-1 flex-col relative justify-between">
                                    <!-- <div class="product-tag absolute top-0 left-0 px-2 py-1 rounded-e-full">
                                        <span class="text-xs font-semibold">Sale</span>
                                    </div> -->
                                    <div class="product-image">
                                        <img src="/productimg/<%=product.productImages[0]%>" alt="">
                                    </div>
                                    <a href="" class="text-slate-400 font-medium text-sm"><%=product.productCategory.categoryName%></a>
                                    <a href="/product?id=<%=product._id%>" class="font-semibold mt-2 text-green-700"><%=product.productName%></a>
                                    <div class="rating-box flex gap-2">
                                        <div class="stars">
                                            <i class='bx bxs-star text-orange-600' ></i>
                                            <i class='bx bxs-star text-orange-600' ></i>
                                            <i class='bx bxs-star text-orange-600' ></i>
                                            <i class='bx bxs-star text-orange-600' ></i>
                                            <i class='bx bx-star  text-orange-600' ></i>
                                        </div>
                                        <div class="rating">
                                            <span>(4.0)</span>
                                        </div>
                                    </div>
                                    <span>By <a href="">NestFood</a></span>
                                    <div class="price-box justify-between flex gap-2 items-center">
                                        <h3 class="font-semibold text-lg">₹<%=product.productPrice-(product.productPrice)*product.productDiscount/100 %></h3>
                                        <h4 class="font-semibold line-through">₹<%=product.productPrice%></h4>
                                    </div>
                                    <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
                                </div>
                            </div>
                            <%})%>
                        </div>
                        <div class="swiper-button-next-new absolute text-green-500 top-1/3 text-3xl right-0 transform -translate-x-1/2 -translate-y-1/2 z-10">
                            <i class='bx bxs-chevron-right-circle'></i>
                        </div>
                        <div class="swiper-button-prev-new absolute text-green-500 top-1/3 text-3xl left-0 transform translate-x-1/2 -translate-y-1/2 z-10">
                            <i class='bx bxs-chevron-left-circle'></i>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>