    <section class="container mx-auto" id="dealOfDay">
        <div class="title-bar flex justify-between items-center">
            <h1 class="text-4xl font-medium">
                Deals of the Day
            </h1>
            <ul class="flex gap-5 font-medium text-sm">
                <li>
                    <a href="">All Deals <i class='bx bx-chevron-right align-middle text-xl'></i></a>
                </li>
            </ul>
        </div>

        <div class="deal-box mt-8 grid grid-cols-4 gap-5">
            <div class="deals relative">
                <div class="image-box">
                    <img src="img/banner-5.png" alt="" class=" rounded-lg">
                </div>
                <div class="desc-box p-3 flex gap-1 flex-col rounded-lg w-11/12 absolute shadow top-3/4 bg-white left-1/2 transform -translate-x-1/2">
                    <a href="" class="text-slate-400 font-medium text-sm"><%=getProducts[0].productCategory.categoryName%></a>
                    <a href="/product?id=<%=getProducts[0]._id%>" class="font-semibold mt-2 text-green-700"><%=getProducts[0].productName%></a>
                    <div class="rating-box flex gap-2">
                        <div class="stars">
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bx-star  text-orange-600' ></i>
                        </div>
                        <div class="rating">
                            <span>(4.0)</span>
                        </div>
                    </div>
                    <span>By <a href="">NestFood</a></span>
                    <div class="price-box justify-between flex gap-2 items-center">
                        <h3 class="font-semibold text-lg">₹<%=getProducts[0].productPrice-(getProducts[0].productPrice)*getProducts[0].productDiscount/100 %></h3>
                        <h4 class="font-semibold line-through">₹<%=getProducts[0].productPrice%></h4>
                        <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
                    </div>
                </div>
            </div>
            <div class="deals relative">
                <div class="image-box">
                    <img src="img/banner-6.png" alt="" class=" rounded-lg">
                </div>
                <div class="desc-box p-3 flex gap-1 flex-col rounded-lg w-11/12 absolute shadow top-3/4 bg-white left-1/2 transform -translate-x-1/2">
                    <a href="" class="text-slate-400 font-medium text-sm"><%=getProducts[1].productCategory.categoryName%></a>
                    <a href="/product?id=<%=getProducts[1]._id%>" class="font-semibold mt-2 text-green-700"><%=getProducts[1].productName%></a>
                    <div class="rating-box flex gap-2">
                        <div class="stars">
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bx-star  text-orange-600' ></i>
                        </div>
                        <div class="rating">
                            <span>(4.0)</span>
                        </div>
                    </div>
                    <span>By <a href="">NestFood</a></span>
                    <div class="price-box justify-between flex gap-2 items-center">
                        <h3 class="font-semibold text-lg">₹<%=getProducts[1].productPrice-(getProducts[1].productPrice)*getProducts[1].productDiscount/100 %></h3>
                        <h4 class="font-semibold line-through">₹<%=getProducts[1].productPrice%></h4>
                        <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
                    </div>
                </div>
            </div>
            <div class="deals relative">
                <div class="image-box">
                    <img src="img/banner-7.png" alt="" class=" rounded-lg">
                </div>
                <div class="desc-box p-3 flex gap-1 flex-col rounded-lg w-11/12 absolute shadow top-3/4 bg-white left-1/2 transform -translate-x-1/2">
                    <a href="" class="text-slate-400 font-medium text-sm"><%=getProducts[2].productCategory.categoryName%></a>
                    <a href="/product?id=<%=getProducts[2]._id%>" class="font-semibold mt-2 text-green-700"><%=getProducts[2].productName%></a>
                    <div class="rating-box flex gap-2">
                        <div class="stars">
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bx-star  text-orange-600' ></i>
                        </div>
                        <div class="rating">
                            <span>(4.0)</span>
                        </div>
                    </div>
                    <span>By <a href="">NestFood</a></span>
                    <div class="price-box justify-between flex gap-2 items-center">
                        <h3 class="font-semibold text-lg">₹<%=getProducts[2].productPrice-(getProducts[2].productPrice)*getProducts[2].productDiscount/100 %></h3>
                        <h4 class="font-semibold line-through">₹<%=getProducts[2].productPrice%></h4>
                        <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
                    </div>
                </div>
            </div>
            <div class="deals relative">
                <div class="image-box">
                    <img src="img/banner-8.png" alt="" class=" rounded-lg">
                </div>
                <div class="desc-box p-3 flex gap-1 flex-col rounded-lg w-11/12 absolute shadow top-3/4 bg-white left-1/2 transform -translate-x-1/2">
                    <a href="" class="text-slate-400 font-medium text-sm"><%=getProducts[3].productCategory.categoryName%></a>
                    <a href="/product?id=<%=getProducts[3]._id%>" class="font-semibold mt-2 text-green-700"><%=getProducts[3].productName%></a>
                    <div class="rating-box flex gap-2">
                        <div class="stars">
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bxs-star text-orange-600' ></i>
                            <i class='bx bx-star  text-orange-600' ></i>
                        </div>
                        <div class="rating">
                            <span>(4.0)</span>
                        </div>
                    </div>
                    <span>By <a href="">NestFood</a></span>
                    <div class="price-box justify-between flex gap-2 items-center">
                        <h3 class="font-semibold text-lg">₹<%=getProducts[3].productPrice-(getProducts[3].productPrice)*getProducts[3].productDiscount/100 %></h3>
                        <h4 class="font-semibold line-through">₹<%=getProducts[3].productPrice%></h4>
                        <button class="rounded"><span>Add</span> <i class='bx bxs-cart-add text-xl' ></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>