<!doctype html>
<html lang="en">
<head>
    <%-include('head')-%>
</head>
<body>
    <!--https://nest-frontend-v6.netlify.app/-->
    <%-include('header')%>
    <br>
    <%-include('featcate')%>
    <br>
    <%-include('banner')%>
    <br>
    <%-include('popular')%>
    <br>
    <%-include('dailybest')%>
    <br>
    <%-include('dealofday')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <footer class="my-4 flex justify-center items-center px-5">
        <p class="text-center">© 2024, Nest - HTML Ecommerce Template </p>
        <ul class="flex gap-3 ms-auto">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">My Account</a>
            </li>
            <li>
                <a href="">Tracking</a>
            </li>
            <li>
                <a href="">Help</a>
            </li>
        </ul>
    </footer>
</body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 5,
            navigation: {
                nextEl: ".swiper-button-next-new",
                prevEl: ".swiper-button-prev-new",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            loop: true,
            autoplay: {
                delay: 4000, 
                disableOnInteraction: false,
            },
        });
    </script>
    <script>
        var swiper2 = new Swiper(".mySwiper2", {
            slidesPerView: 2,
            spaceBetween: 20,
            navigation: {
                nextEl: ".swiper-button-next-new",
                prevEl: ".swiper-button-prev-new",
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                // clickable: true,
            },
            loop: true,
            autoplay: {
                delay: 4000, 
                disableOnInteraction: false,
            },
            breakpoints: {
                380: {
                    slidesPerView: 3,
                    spaceBetween: 10,
                },
                576: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                640: {
                    slidesPerView: 5,
                    spaceBetween: 5,
                },
                768: {
                    slidesPerView: 5,
                    spaceBetween: 10,
                },
                1024: {
                    slidesPerView: 8,
                    spaceBetween: 10,
                },
                
            },
        });
    </script>
</html>